<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/1_1/plugin.xsd">
	<name>${project.artifactId}</name>
	<description>${project.description}</description>
	<author>${project.developers[0].name}</author>
	<authorURL>${project.developers[0].url}</authorURL>
	<pluginURL>${project.url}</pluginURL>
	<version>${project.version}</version>
	<minServerVersion>${sbs.min.version}</minServerVersion>
	<maxServerVersion>${sbs.max.version}</maxServerVersion>

	<databaseKey>jboss-jira</databaseKey>
	<databaseVersion>1</databaseVersion>

	<css src="/resources/jira-plugin.css"/>

	<components>
		<component id="admin-console">
			<tab id="system">
				<section id="section-system">
					<item id="system-jira-admin" name="plugin.jira.admin.name"
						  url="jira-integration-view.jspa" description="plugin.jira.admin.description"/>
				</section>
			</tab>
		</component>
	</components>

</plugin>
